<div class="navbar-bg"></div>
<nav class="navbar navbar-expand-lg main-navbar sticky">
    <div class="form-inline mr-auto">
        <ul class="navbar-nav mr-3">
            <li>
                <a href="javascript:void(0)" data-toggle="sidebar" class="nav-link nav-link-lg
									collapse-btn"> <i data-feather="menu"></i></a>
            </li>
            <li>
                <form class="form-inline mr-auto">
                    <div class="search-element">
                        <input class="form-control" type="search" placeholder="Search" aria-label="Search" data-width="200">
                        <button class="btn" type="submit">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </form>
            </li>
        </ul>
    </div>
    <ul class="navbar-nav navbar-right">
        <li>
            <a href="javascript:void(0)" class="nav-link nav-link-lg fullscreen-btn">
                <i data-feather="maximize"></i>
            </a>
        </li>
        <li class="dropdown dropdown-list-toggle">
            <a href="javascript:void(0)" data-toggle="dropdown"
               class="nav-link nav-link-lg message-toggle">
                <i data-feather="mail" class="mailAnim"></i>
                <span class="badge headerBadge1">
                </span>
            </a>
            <div class="dropdown-menu dropdown-list dropdown-menu-right pullDown">
                <div class="dropdown-header">
                    Messages
                    <div class="float-right">
                        <a href="javascript:void(0)">Mark All As Read</a>
                    </div>
                </div>
                <div class="dropdown-list-content dropdown-list-message">
                    <a href="javascript:void(0)" class="dropdown-item">
                        <span class="dropdown-item-avatar
											text-white">
                            <img alt="image" src="../../../Assets/AdminTemplate/assets/img/users/user-1.png" class="rounded-circle">
                        </span> <span class="dropdown-item-desc">
                            <span class="message-user">
                                John
                                Deo
                            </span>
                            <span class="time messege-text">Please check your mail !!</span>
                            <span class="time">2 Min Ago</span>
                        </span>
                    </a> <a href="javascript:void(0)" class="dropdown-item">
                        <span class="dropdown-item-avatar text-white">
                            <img alt="image" src="../../../Assets/AdminTemplate/assets/img/users/user-2.png" class="rounded-circle">
                        </span> <span class="dropdown-item-desc">
                            <span class="message-user">
                                Sarah
                                Smith
                            </span> <span class="time messege-text">
                                Request for leave
                                application
                            </span>
                            <span class="time">5 Min Ago</span>
                        </span>
                    </a> <a href="javascript:void(0)" class="dropdown-item">
                        <span class="dropdown-item-avatar text-white">
                            <img alt="image" src="../../../Assets/AdminTemplate/assets/img/users/user-5.png" class="rounded-circle">
                        </span> <span class="dropdown-item-desc">
                            <span class="message-user">
                                Jacob
                                Ryan
                            </span> <span class="time messege-text">
                                Your payment invoice is
                                generated.
                            </span> <span class="time">12 Min Ago</span>
                        </span>
                    </a> <a href="javascript:void(0)" class="dropdown-item">
                        <span class="dropdown-item-avatar text-white">
                            <img alt="image" src="../../../Assets/AdminTemplate/assets/img/users/user-4.png" class="rounded-circle">
                        </span> <span class="dropdown-item-desc">
                            <span class="message-user">
                                Lina
                                Smith
                            </span> <span class="time messege-text">
                                hii John, I have upload
                                doc
                                related to task.
                            </span> <span class="time">
                                30
                                Min Ago
                            </span>
                        </span>
                    </a> <a href="javascript:void(0)" class="dropdown-item">
                        <span class="dropdown-item-avatar text-white">
                            <img alt="image" src="../../../Assets/AdminTemplate/assets/img/users/user-3.png" class="rounded-circle">
                        </span> <span class="dropdown-item-desc">
                            <span class="message-user">
                                Jalpa
                                Joshi
                            </span> <span class="time messege-text">
                                Please do as specify.
                                Let me
                                know if you have any query.
                            </span> <span class="time">
                                1
                                Days Ago
                            </span>
                        </span>
                    </a> <a href="javascript:void(0)" class="dropdown-item">
                        <span class="dropdown-item-avatar text-white">
                            <img alt="image" src="../../../Assets/AdminTemplate/assets/img/users/user-2.png" class="rounded-circle">
                        </span> <span class="dropdown-item-desc">
                            <span class="message-user">
                                Sarah
                                Smith
                            </span> <span class="time messege-text">Client Requirements</span>
                            <span class="time">2 Days Ago</span>
                        </span>
                    </a>
                </div>
                <div class="dropdown-footer text-center">
                    <a href="javascript:void(0)">View All <i class="fas fa-chevron-right"></i></a>
                </div>
            </div>
        </li>
        <li class="dropdown dropdown-list-toggle">
            <a href="javascript:void(0)" data-toggle="dropdown"
               class="nav-link notification-toggle nav-link-lg">
                <i data-feather="bell"></i>
            </a>
            <div class="dropdown-menu dropdown-list dropdown-menu-right pullDown">
                <div class="dropdown-header">
                    Notifications
                    <div class="float-right">
                        <a href="javascript:void(0)">Mark All As Read</a>
                    </div>
                </div>
                <div class="dropdown-list-content dropdown-list-icons">
                    <a href="javascript:void(0)" class="dropdown-item dropdown-item-unread">
                        <span class="dropdown-item-icon l-bg-orange text-white">
                            <i class="far fa-envelope"></i>
                        </span> <span class="dropdown-item-desc">
                            You got new mail, please check. <span class="time">
                                2 Min
                                Ago
                            </span>
                        </span>
                    </a> <a href="javascript:void(0)" class="dropdown-item">
                        <span class="dropdown-item-icon l-bg-purple text-white">
                            <i class="fas fa-bell"></i>
                        </span> <span class="dropdown-item-desc">
                            Meeting with <b>John Deo</b> and <b>Sarah Smith </b> at
                            10:30 am <span class="time">
                                10 Hours
                                Ago
                            </span>
                        </span>
                    </a> <a href="javascript:void(0)" class="dropdown-item">
                        <span class="dropdown-item-icon l-bg-green text-white">
                            <i class="far fa-check-circle"></i>
                        </span> <span class="dropdown-item-desc">
                            Sidebar Bug is fixed by Kevin <span class="time">
                                12
                                Hours
                                Ago
                            </span>
                        </span>
                    </a> <a href="javascript:void(0)" class="dropdown-item">
                        <span class="dropdown-item-icon bg-danger text-white">
                            <i class="fas fa-exclamation-triangle"></i>
                        </span> <span class="dropdown-item-desc">
                            Low disk space error!!!. <span class="time">
                                17 Hours
                                Ago
                            </span>
                        </span>
                    </a> <a href="javascript:void(0)" class="dropdown-item">
                        <span class="dropdown-item-icon bg-info text-white">
                            <i class="fas
												fa-bell"></i>
                        </span> <span class="dropdown-item-desc">
                            Welcome to Jiva
                            template! <span class="time">Yesterday</span>
                        </span>
                    </a>
                </div>
                <div class="dropdown-footer text-center">
                    <a href="javascript:void(0)">View All <i class="fas fa-chevron-right"></i></a>
                </div>
            </div>
        </li>
        <li class="dropdown">
            <a href="javascript:void(0)" data-toggle="dropdown"
               class="nav-link dropdown-toggle nav-link-lg nav-link-user">
                <img alt="image" src="../../../Assets/AdminTemplate/assets/img/user.png"
                     class="user-img-radious-style"> <span class="d-sm-none d-lg-inline-block"></span>
            </a>
            <div class="dropdown-menu dropdown-menu-right pullDown">
                <div class="dropdown-title">Hello Sarah Smith</div>
                <a href="javascript:void(0)" class="dropdown-item has-icon">
                    <i class="far
										fa-user"></i> Profile
                </a> <a href="javascript:void(0)" class="dropdown-item has-icon">
                    <i class="fas fa-bolt"></i>
                    Activities
                </a> <a href="javascript:void(0)" class="dropdown-item has-icon">
                    <i class="fas fa-cog"></i>
                    Settings
                </a>
                <div class="dropdown-divider"></div>
                <a href="javascript:void(0)" ng-click="logOut()" class="dropdown-item has-icon text-danger">
                    <i class="fas fa-sign-out-alt"></i>
                    Logout
                </a>
            </div>
        </li>
    </ul>
</nav>
<div class="main-sidebar sidebar-style-2" ng-controller="moduleController">
    <aside id="sidebar-wrapper">
        <div class="sidebar-brand">
            <a ui-sref="home">
                <img alt="image" src="../../../Assets/AdminTemplate/assets/img/logo.png" class="header-logo" />
                <span class="logo-name">Time Attendency</span>
            </a>
        </div>
        <div class="sidebar-user">
            <div class="sidebar-user-picture">
                <img ng-src="{{'data:image/png;base64,'+authentication.EmImage}}" ng-show="user.IMAGE != null" />
            </div>
            <div class="sidebar-user-details">
                <div class="user-name">{{authentication.UserName}}</div>
                <div class="user-role">{{authentication.EmImage}}</div>
            </div>
        </div>
        <ul class="sidebar-menu" ng-repeat="item in trees">
            <li class="menu-header" id="{{item.ID}}">{{item.Name}}</li>
            <li class="dropdown" ng-repeat="child1 in item.children">
                <a href="javascript:void(0)" class="menu-toggle nav-link has-dropdown" id="{{child1.ID}}" ng-click="sidebar_dropdown(child1.ID)">
                    <i data-feather="folder"></i><span>{{child1.Name}}</span>
                </a>
                <ul class="dropdown-menu" ng-repeat="child2 in child1.children">
                    <li id="{{child2.ID}}">
                        <a class="nav-link" ui-sref="{{child2.URL}}">{{child2.Name}}</a>
                    </li>
                </ul>
            </li>
        </ul>
        <!--<ul class="sidebar-menu">
            <li class="menu-header">Quản lý</li>
            <li class="dropdown">
                <a href="javascript:void(0)" class="menu-toggle nav-link has-dropdown">
                    <i data-feather="folder"></i><span>Sản phẩm</span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a class="nav-link" ui-sref="product_categories">Thể loại sản phẩm</a>
                    </li>
                    <li>
                        <a class="nav-link" ui-sref="products">Sản phẩm</a>
                    </li>
                </ul>
            </li>
        </ul>

        <ul class="sidebar-menu">
            <li class="menu-header">Hệ thống</li>
            <li class="dropdown">
                <a href="javascript:void(0)" class="menu-toggle nav-link has-dropdown">
                    <i data-feather="folder"></i><span>Người dùng</span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a class="nav-link" ui-sref="application_roles">Quyền người dùng</a>
                    </li>
                    <li>
                        <a class="nav-link" ui-sref="application_groups">Nhóm người dùng</a>
                    </li>
                    <li>
                        <a class="nav-link" ui-sref="application_users">Tài khoản người dùng</a>
                    </li>
                </ul>
            </li>
        </ul>-->

    </aside>
</div>
<!-- Main Content -->
<div class="main-content" ui-view></div>
<button onclick="topFunction()" id="btnTop" title=""><i data-feather="arrow-up"></i></button>
<footer class="main-footer">
    <div class="footer-left">
        Copyright &copy; 2020 <div class="bullet"></div> Design By <a href="javascript:void(0)">Logicswave</a>
    </div>
    <div class="footer-right">
    </div>
</footer>
<script src="../../../Assets/AdminTemplate/assets/js/scripts.js"></script>
<script>
    $().ready(function () {
        if ($("#project-team-scroll").length) {
            $("#project-team-scroll")
                .css({
                    height: 400,
                })
                .niceScroll();
        }
        if ($("#proTeamScroll").length) {
            $("#proTeamScroll")
                .css({
                    height: 500,
                })
                .niceScroll();
        }
        if ($("#top-5-scroll").length) {
            $("#top-5-scroll")
                .css({
                    height: 380,
                })
                .niceScroll();
        }
    })
</script>