<section class="section">
    <ul class="breadcrumb breadcrumb-style ">
        <li class="breadcrumb-item">
            <a ui-sref="home">
                <i data-feather="home"></i>
            </a>
            <script>
                feather.replace()
            </script>
        </li>
        <li class="breadcrumb-item">
            <a ui-sref="products">Sản phẩm</a>
        </li>
        <li class="breadcrumb-item">Nhập dữ liệu</li>
    </ul>
</section>
<section class="section">
    <div class="section-body">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Nhập sản phẩm từ Excel</h4>
                    </div>
                    <div class="card-body">
                        <form class="form-horizontal" novalidate name="frmImportProduct" role="form" ng-submit="ImportProduct()">
                            <div class="card-body">
                                <div class="form-group row">
                                    <label for="inputEmail3" class="col-sm-2 col-form-label">Chọn file Excel<label class="label-validate">(*)</label></label>
                                    <div class="col-sm-10">
                                        <input type="file" file-upload name="file" required />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputEmail3" class="col-sm-2 col-form-label">Danh mục<label class="label-validate">(*)</label></label>
                                    <div class="col-sm-10">
                                        <select name="parentId" class="form-control" required ng-model="productCategories.ID" ng-options="option.ID as option.Name for option in productCategories">
                                            <option value="">Chọn danh mục</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer text-center">
                                <button class="btn btn-primary" type="submit" ng-disabled="frmImportProduct.$invalid"><i class="fa fa-save"></i> Lưu</button>
                                <button class="btn btn-danger" ui-sref="products"><i class="fas fa-times"></i> Hủy</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>