
.buttons > a {
    color: #fff !important;
}

.h-group-radio {
    border: 1px solid #b8bef8;
    background-color: white;
    border-radius: .25em;
    padding: 10px 15px;
    height: 42px;
}

    .h-group-radio:hover {
        border: #95a0f4 1px solid;
    }

.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}

    .fileUpload input.upload {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
        font-size: 20px;
        cursor: pointer;
        opacity: 0;
        filter: alpha(opacity=0);
    }

canvas {
    width: inherit !important;
    height: auto !important;
}

@media (min-width: 768px) {
    fieldset {
        display: block;
        margin-inline-start: 2px;
        margin-inline-end: 2px;
        padding-block-start: 0.35em;
        padding-inline-start: 0.75em;
        padding-inline-end: 0.75em;
        padding-block-end: 0.625em;
        min-inline-size: min-content;
        border-width: 2px;
        border-style: groove;
        border-color: threedface;
        border-image: initial;
        min-height: 465px;
    }
}

fieldset {
    display: block;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    padding-block-start: 0.35em;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    padding-block-end: 0.625em;
    min-inline-size: min-content;
    border-width: 2px;
    border-style: groove;
    border-color: threedface;
    border-image: initial;
}

.h-hide-text-file {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    opacity: 0;
    filter: alpha(opacity=0);
}

.a-disabled {
    pointer-events: none;
    cursor: default;
    opacity: 0.6;
}

.h-red-text {
    color: red;
    font-weight: 600;
}

.h-green-text {
    color: green;
    font-weight: 600;
}

.h-margin-top {
    margin-top: 7px;
}

.active1 {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #ffffff;
    background-color: #007bff;
    border: 1px solid #007bff;
    border-radius: 3px;
    margin: 0 3px;
}

.pretty.p-icon .state .icon {
    position: absolute;
    font-size: 1em;
    width: calc(1em + 2px);
    height: calc(1em + 2px);
    left: 0;
    z-index: 1;
    text-align: center;
    line-height: normal;
    top: calc((0% - (100% - 1em)) - 30%) !important;
    border: 1px solid transparent;
    opacity: 0;
}

a {
    cursor: pointer;
}
/*.search{
    margin-top: 0.9px;
    height:42px !important;
}*/
.input-group-btn .btn.btn-primary {
    margin-top: 0.85px !important;
    height: 31px;
}

.show-pagesize {
    border-radius: 30px;
    border: 1px solid #95a0f4;
}

    .show-pagesize :hover {
        border-radius: 30px;
        border: 1px solid #95a0f4;
    }

.breadcrumb-item a {
    text-decoration: none;
    color: #6c757d;
}

.btn {
    font-weight: 300 !important;
}

table a {
    color: #6c757d;
}

a.btn-margin-left {
    text-decoration: none;
}

input[type=file] {
    cursor: pointer !important;
}

.btn-margin-left {
    margin: 5px;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    display: block;
    padding-top: 6px;
    padding-left: 15px !important;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.daterangepicker th.month {
    width: auto;
    color: rgb(255, 255, 255);
    background: rgb(53, 70, 179);
    border-radius: 0px;
}
/*.selectric .label {
    border-color: #28a745 !important;
}*/

/*.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #444;
    line-height: 28px;
    border:0.1px #28a745 solid !important;
}*/
/*.selectric {
    border-color: #28a745 !important;
    padding-right: calc(1.5em + .75rem) !important;
    background-image: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath fill='%2328a745' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e) !important;
    background-repeat: no-repeat;
    background-position: right calc(.375em + .1875rem) center !important;
    background-size: calc(.75em + .375rem) calc(.75em + .375rem) !important;
    border-radius: .25rem !important;
}*/

label {
    display: inline-block;
    margin-bottom: .5rem;
    font-weight: 600 !important;
    color: #34395e !important;
    font-size: 12px;
    letter-spacing: 0.5px;
}

.was-validated .input-group:valid {
    border-color: #28a745;
    padding-right: calc(1.5em + .75rem);
    background-image: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath fill='%2328a745' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e);
    background-repeat: no-repeat;
    background-position: right calc(.375em + .1875rem) center;
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}

.responsiveImage2 {
    width: 100%;
    height: auto;
    border: rgba(33, 32, 32, 0.56) solid 1px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding-left: 0px;
    padding-right: 0px;
}

.show-image {
    width: 100%;
    height: 100%;
    border: rgba(33, 32, 32, 0.56) solid 1px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding-left: 0px;
    padding-right: 0px;
    /*padding: 8px;*/
    /*border-radius: 50%;*/
}

.search-element .form-control {
    background-color: #fdfdff;
    border: none !important;
    border-width: 0 !important;
    box-shadow: none !important;
    outline: 0 none;
}

.navbar .form-inline .form-control {
    background-color: #fff;
    border-color: transparent;
    padding-left: 20px;
    padding-right: 0;
    margin-right: -6px;
    min-height: 44px !important;
    font-weight: 500;
    border-radius: 3px 0 0 3px;
    transition: all 1s;
}

.form-control, .input-group-text, .custom-select, .custom-file-label {
    background-color: #fdfdff;
    border-color: #b8bef8 !important;
}

.select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 1px solid #b8bef8 !important;
    border-radius: 4px;
}

    .select2-container--default .select2-selection--single:hover {
        border-color: #95a0f4 !important;
    }

.select2-container--default.select2-container--focus .select2-selection--multiple {
    border: solid #95a0f4 1px !important;
    outline: 0;
}

.select2-container--default .select2-selection--multiple {
    background-color: white;
    border: 1px solid #95a0f4 !important;
    border-radius: 4px;
    cursor: text;
}

    .select2-container--default .select2-selection--multiple .select2-selection__choice {
        background-color: #6777ef !important;
        border: 1px solid #6777ef !important;
        border-radius: 4px;
        cursor: default;
        float: left;
        margin-right: 5px;
        margin-top: 5px;
        padding: 0 5px;
    }

    .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
        color: #ffffff !important;
        cursor: pointer;
        display: inline-block;
        font-weight: bold;
        margin-right: 2px;
    }

.card .card-header {
    border-bottom-color: #d5d5d5d9 !important;
    line-height: 30px;
    -ms-grid-row-align: center;
    align-self: center;
    width: 100%;
    padding: 10px 25px;
    display: flex;
    align-items: center;
}

.checkIn {
    height: 10px
}

@media screen and (max-width : 768px) {
    .checkIn {
        height: 10px
    }
}

@media only screen and (max-width : 576px) {

    #myTab3Content > .row {
        display: block;
        overflow-y: auto !important;
    }

    #myTab2 {
        line-height: 28px;
        display: block;
    }
}

.accordion .accordion-header {
    background-color: #f9f9f9;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.5s;
    border: #c4c4c4c9 1px solid !important;
}

html {
    scroll-behavior: smooth;
}

#btnTop {
    display: none;
    position: fixed;
    bottom: 40px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: red;
    opacity: 80%;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 50px;
}

    #btnTop:hover {
        background-color: #e12121;
    }

.wrapper {
    max-width: 560px;
    margin: 100px auto;
}

.input-group > .input-group-append > .btn, .input-group > .input-group-append > .input-group-text, .input-group > .input-group-prepend:first-child > .btn:not(:first-child), .input-group > .input-group-prepend:first-child > .input-group-text:not(:first-child), .input-group > .input-group-prepend:not(:first-child) > .btn, .input-group > .input-group-prepend:not(:first-child) > .input-group-text {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
}

.table:not(.table-sm):not(.table-md):not(.dataTable) td, .table:not(.table-sm):not(.table-md):not(.dataTable) th {
    padding: 0px !important;
    height: 60px;
    vertical-align: middle;
}

md-dialog.dtp {
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
    max-height: none;
    min-width: 300px;
    width: 300px;
    bottom: auto;
    position: fixed;
}

.h-padding-right {
    padding-right: 28px !important;
}

.table:not(.table-sm):not(.table-md):not(.dataTable) td, .table:not(.table-sm):not(.table-md):not(.dataTable) th {
    padding: 10px !important;
    height: 60px;
    vertical-align: middle;
    /* padding: 3px; */
}

.table tbody th {
    background-color: #e9e9eb !important;
}

.table.table-bordered td, .table.table-bordered th {
    border-color: #e7e1e1 !important;
}

.table tbody th a {
    font-weight: 600;
}

    .table tbody th a:hover {
        color: #2a3f58;
    }
/*.modal-body {
    padding-top: 15px;
    overflow-y: scroll;
    height: 500px;
   
}*/
.main-content {
    min-height: 800px;
}

.h-header-table {
    background-color: #e9e9eb;
    min-height: 60px;
    line-height: 60px;
    color: #212529;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    border: 1px solid #e7e1e1;
}

label.h-header-table {
    margin-bottom: 0px !important;
}

.h-header-value {
    min-height: 40px;
    line-height: 40px;
    color: #212529;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    border: 1px solid #e7e1e1;
    border-top: none;
}

.h-group-value {
    min-height: 40px;
    line-height: 40px;
    color: #212529;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    border: 1px solid #e7e1e1;
    border-top: none;
}

.h-footer-table {
    min-height: 50px;
    line-height: 50px;
    color: #212529;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    border: 1px solid #e7e1e1;
    border-top: none;
}

label .h-footer-table {
    margin-bottom: 0px !important;
}

.h-no-border-right {
    border-right: none;
}

.h-no-border {
    border-left: none;
    border-right: none;
}

#h-report-table {
    border: none;
}

.label-validate {
    color: red !important;
}

.card {
    background-color: #f2f2f2 !important;
}

.invalid-feedback {
    display: none;
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
    position: absolute;
}

.card .card-header {
    border-bottom-color: #d5d5d5d9 !important;
    line-height: 30px;
    -ms-grid-row-align: center;
    align-self: center;
    width: 100%;
    padding: 10px 25px;
    display: flex;
    align-items: center;
    background-color: #4868cb !important;
}

    .card .card-header h4 {
        font-size: 17px;
        line-height: 28px;
        padding-right: 10px;
        margin-bottom: 0;
        color: #f3f6fa !important;
    }

.btn-search {
    background: #ffffff;
    margin-top: 0.0758em !important;
    line-height: 24.1px !important;
}

.form-group {
    margin-bottom: 5px !important;
}

.input-group-text, select.form-control:not([size]):not([multiple]), .form-control:not(.form-control-sm):not(.form-control-lg) {
    font-size: 14px;
    /*padding: 0px 7px !important; */
}
/*.form-control, .input-group-text, .custom-select, .custom-file-label {
    background-color: #fdfdff;
    border: none !important;
    width: 100% !important;
}*/
.card .card-header h4 + .card-header-action .input-group .form-control, .card .card-header h4 + .card-header-form .input-group .form-control {
    border-radius: 5px 0 0 5px !important;
    border: none !important;
}

label {
    display: inline-block;
    margin-bottom: .1rem;
}

.card .card-header h4 {
    font-size: 19px !important;
    line-height: 28px;
    padding-right: 10px;
    margin-bottom: 0;
    color: #f3f6fa !important;
    padding-left: 0px !important;
}

    .card .card-header h4 + .card-header-action, .card .card-header h4 + .card-header-form {
        margin-left: auto;
        width: 100% !important;
    }

.input-group-text {
    padding: 0px 7px !important;
}

.active2 {
    background-color: #4f5ece !important;
    color: #fff !important;
}

.h-btn-group {
    letter-spacing: 0px;
    /*line-height:18px;*/
}
/* .h-btn-group:not(.form-control-lg) {
        line-height: 18px
    }*/
li.open > a + ul {
    display: block !important;
}

.h-fade-menu {
    display: none !important;
}

#h-role-client .h-header {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    border: 1px #dbd6d6 solid;
    border-top: none;
    background-color: #e7e1e1;
    margin-top: 0px;
    height: 50px;
    line-height: 50px;
    padding-top: 0px;
    color: #262525;
}

#h-role-client .h-body {
    border: 1px #dbd6d6 solid;
    border-top: none;
    height: 50px;
    padding-top: 0px;
    line-height: 50px;
}

#h-role-client .h-no-border-left {
    border-left: none;
}

.custom-status {
    height: 42px;
    line-height: 42px;
    background-color: #fdfdff;
    border-color: #b8bef8 !important;
    border-radius: .25rem;
}

.pretty {
    margin-right: 0rem !important;
}

.main-footer {
    margin-top: 120px;
}
.has-error{
    color:red;
}